//---------- colors ----------

$colorMain: #22C4AB;
$colorMainLight: #DDE4ED;
$grayLight: #F2F4F5;

//---------- dimensions ----------

$btnPad: 6px 12px;
$rad: 8px;
$gap: 36px;

//---------- effects ----------

$shrink: scale(0.95);

//---------- animations ----------

$quick: 200ms;